<!DOCTYPE html>

<html>
    <head>
        <title>Matcha</title>
        <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="js/noty/packaged/jquery.noty.packaged.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style_connect.css" />
        <script type="text/javascript" src="../static/js/chat.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/style_chat.css" />
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body  class="back_ground">
       <nav class="navbar navbar-default top-bar navbar-fixed-top" data-spy="affix" data-offset-top="250" >
    <div class="container" >
        <!- Brand and toggle get grouped for better mobile display ->
        <div class="navbar-header page-scroll">
            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/index" class="navbar-brand">Mon profil</a>
        </div>
        <!- Collect the nav links, forms, and other content for toggling ->
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="/rencontre">Rencontre</a></li>   
                <li><a href="/chat">Chat</a></li>
                <li><a href="/activite" id="activite">Activité</a></li>
                <li><a href="/">Déconnection</a></li>
                
            </ul>
        </div>
        <!- /.navbar-collapse ->
    </div>
    <!- /.container-fluid ->
</nav>

<section class="container-flull chat_background" style="margin-top: 67px;">
    <div class="row app-one">

      <div class="col-sm-4 side">
        <div class="side-one">
          <!-- Heading -->
          <div class="row heading">
            <p class="vous_matchez">Vos notifications</p>
          </div>
          <!-- Heading End -->
          <!-- sideBar -->
          <div class="row sideBar">
            
          </div>
          <!-- Sidebar End -->
        </div>
      </div>


      <!-- New Message Sidebar End -->

      <!-- Conversation Start -->
      <div class="col-sm-8 conversation">
        <!-- Heading -->
        <div class="row heading">
          <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
            <div class="heading-avatar-icon">
              <p></p>
            </div>
          </div>
          <div class="col-sm-8 col-xs-7 heading-name">
            
            <span class="heading-online">Online</span>
          </div>
          <div class="col-sm-1 col-xs-1  heading-dot pull-right">
            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
          </div>
        </div>
        <!-- Heading End -->

        <!-- Message Box -->
        <div class="row message" id="conversation">
            <% for(var i = 0; i < notif.length; i++) { %>
           <div class="row message-body">
                 <p class="notif"><%= notif[i].notif %></p>
            </div> 
            <% } %>
            
        </div>
        <!-- Message Box End -->

        <!-- Reply Box -->
        
      <!-- Conversation End -->
    </div>
    <!-- App One End -->
  </section>
<input id="login" type="hidden" name="code" value="<%= myuser %>"/>
<input id="test" type="hidden" name="code" value="profile"/>

        <script type="text/javascript" src="../static/js/socket.js"></script>
        
  
