<!DOCTYPE html>

<html>
    <head>
        <title>Matcha</title>
        <link rel="stylesheet" href="static/css/style_index.css" />
    </head>

    <body>
        <header class='style_header'>
        	<img src="/static/image/logo.png" class='logo'>
        	<div class='right_panel'>
        		<a href=''>Connection</a>
        	</div>
        </header>
        <div class='back_ground'>
        	<div class='middle'>
        		<div class='contentmid'>
        		</br>
        	</br>
        	</br>
        			<H1>Rien n'arrive par hasard !</H1>
        			<p class='info'>Un petit pas en avant peut être le debut d'un long voyage...
        			</p>
        		</br>
        		</div>
        		<div class='sign_up'>
        			<form>
        				<fieldset class='form_1'>
        				</br>
        					<input type='text' class='nom_prenom' value='Prenom'></input>
        					<input type='text' class='nom_prenom'value='Nom'></input>
        				</br>
        			</br>
        					<input type='text' class='nom_prenom' value="Nom d'utilisateur"></input>
        					<input type='text' class='nom_prenom' value="Mot de passe"></input>
        				</br>
        				</br>
        					<input type='text' class='email' value="Adresse email"></input>
        					</br>
        				</br>
        					<input type='Button' class='button_inscription' value="Inscrivez vous gratuitement"></input>
        				</br>
        			</br>
        				</fieldset>
        			</form>
        		</div>
        	</div>
        </div>
    </body>
</html>
