 <head>
        <title>Matcha</title>
        <link rel="stylesheet" href="static/css/style_index.css" />
        <script type = "text/javascript" 
         src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
         <script type="text/javascript" src="js/noty/packaged/jquery.noty.packaged.min.js"></script>
    </head>

    <body>
        <header class='style_header'>
        	<a href='/'><img src="/static/image/logo.png" class='logo'></a>
            <div>
                <form>
                <fieldset class='right_panel'>
                    <input type='text' id='login' class='connection_top' value='Login' onFocus="javascript:this.value=''" onBlur="javascript:if(this.value=='')this.value='Login'"></input>
                    <input id='password' type='Password' class='connection_top' value='Password' onFocus="javascript:this.value=''" onBlur="javascript:if(this.value=='')this.value='Prenom'"></input>
                    <input id='but_connection' type='submit' value='Connection' class='button_con' onclick="connection();"></input>
                </br>
                    <a class='mdp_oublie' href='/pass.oublie'>Mot de passe oublié ?</a>
                </fieldset>
            </form>
            </div>
        </header>
        <div class='back_ground'>
        	<form >
                        <fieldset class ='pass_oublie'>
                            <p class='retrouv'>Retrouvez votre compte</p>
                            <input id='email' type='text' class='email' value="Adresse email" onFocus="javascript:this.value=''" onBlur="javascript:if(this.value=='')this.value='Adresse email'"></input>
                            </br>
                        </br>
                            <input type='submit' id='inscription' class='button_reinitialisation' value="Recupérer le mot de passe" onclick="recup_password();" ></input>               
                        </br>
                    </br>
                        </fieldset>
                    </form>
        </div>
        <script type="text/javascript" src="static/js/regist.js"></script>
    </body>
</html>
